/* cores: https://coolors.co/841e67-5f3976-44adc0-23d5d9-e3e4db */

a {
    color: #2756B2;
}

body {
    margin: 0;
}
span {
    color: #712F79;
    font-weight: bold;
}

header {
    padding: 0;
}

#btn-header{
    background: #712F79;
    color: #23B6E6;
}

#btn-header:hover{
    color: #976391;
}

#profile-img{
    width: calc(150px + 10vw);
}
